body{
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0D4185;
}
#antorcha {
    position: fixed;
    z-index: -1;
    background: url("https://simca.unicauca.edu.co/simca/resources/images/antorcha.png") no-repeat;
    height: 592px;
    right: 15%;
    top: 0;
    width: 251px;
}
#bandera {
    background: url("https://simca.unicauca.edu.co/simca/resources/images/bandera.png") no-repeat;
    width: 345px;
    height: 130px;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
}
ul li{
  list-style: none;  
  margin-right: 10px;
}
#notificaciones {
  background: #f8fafc;
  border-radius: 14px;
  border: 1px solid #e0e0e0;
}
#notificaciones h2 {
  color: #0D4185;
  font-weight: bold;
}
#listaNotificaciones {
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
}